doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title
        script(type='text/javascript', src = "/assets/bundle.js")
        link(rel="styleSheet", href="style.css")
    body
